block config
  include config

doctype html
html(class="no-js" lang=lang)
  head(itemscope itemtype="http://schema.org/WebSite")
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title
      block title
        | !{pageTitle}
    meta(name="description", content=metaDesc)
    link(type="text/plain", rel="author", href="humans.txt")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="msapplication-tap-highlight", content="no")
    link(rel="stylesheet", href="css/application.css")
    link(rel="canonical" href=pageUrl itemprop="url")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="apple-mobile-web-app-title", content=pageTitle)
  body(itemscope itemtype="http://schema.org/WebPage")
    #page-wrap
      block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script.
      window.jQuery || document.write('<script src="js/jquery.min.js"><\\/script>');
    script(src="js/application.js")
    block scripts
